
body{
    background: #cddbee;
}

ul {
    list-style: none;
}

.page__left img{
    width: 250px;
    float: left;
}

.page__left h3{
    margin-top: 50px;
    font-size: 28px;
}

.page__left ul{
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    color: #cddbee;
    font-size: 17px;
}

.page__left ul li{
    text-decoration: none;
    color: #cddbee;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
    align-items: center;
    justify-content: center;
}

.page__left ul li:hover, .page__left ul a:hover{
    color: #e6e8f7;
    text-decoration: none;
    transform: scale(1.05);
}
li{
    margin-top: 5px;
}

.page__content{
    color: #0f0c33;
    margin-top: 60px;
    margin-left: 50px;
    text-align: center;
}

.page__content p{
    text-align: center;
    margin: 20px auto;
}

.nav-link{
    font-size: 16px;
    margin-top: -5px;
}

.material-symbols-outlined{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .home_fullstack{
    background-image: url("../../profinfo/img/home_profinfo.jpg");
    width: 100px;
    height: 200px;
} */

table, th, td {
  border: 1px solid #0f0c33;
}

h1{
    color: #0f0c33;
    text-align: center;
}

.skill_name h1{
    margin-top: 30px;
}

.demand_table{
  width: 250px;
  border: 2px solid #0f0c33;
  border-radius: 6px;
}


th{
   border: 2px solid #0f0c33;
}

.stat{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.stat > img{
    margin-left: 20px;
}

.text-dem{
    margin-left: 270px;
    color: #0f0c33;
    padding-bottom: 0px;
    margin-top: 40px;
}

.geog_table{
    width: 250px;
    border: 2px solid #0f0c33;
    border-radius: 6px;
}

.text-geo{
    margin-left: 270px;
    color: #0f0c33;
    padding-bottom: 0px;
    margin-top: 40px;
}

.page{
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

.page__left{
    height: 100%;
    background: #616b72;
    overflow-y: auto;
}

.page_container{
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: sticky;
    height: 940px;
    top: 0;
    gap: 30px;
}

.logo {
    padding-top: 30px;
}

.page__right{
    overflow: auto;
    height: 100%;
}

.page__content{
    padding: 20px 40px;
}

.img_home{
    width: 500px;
    height: 100%;
    border-radius: 15px;
    border:5px solid #0f0c33;
}

.man {
    height: 500px;
}

.geog img{
    margin-left: 20px;
}

.geog{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.skills_com{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.skills_com > img{
    margin-left: 20px;
}

.footer_menu {
    color: #cddbee;
    padding: 0 10px;
}