{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <h1>Кто такой {{ title }} и что он умеет</h1>
{% endblock%}

{% block content %}
    <div class="first_page">
        <h1>Кто такой {{ title }} и что он умеет</h1>
        <img src="{% static 'profinfo/img/home_fst.png' %}" alt="home_fst">
        <p>Разработчик, который умеет всё, но понемногу</p>
        <p>В вакансиях веб-разработчиков встречается позиция «Фуллстек-разработчик» (он же fullstack). 
            Они неплохо зарабатывают, очень ценятся на рынке труда, но есть нюансы с навыками и трудоустройством. 
            Давайте рассмотрим, что это за работа, какие есть плюсы и минусы.</p>
        
    </div>
{% endblock%}