{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <h1>Кто такой {{ title }} и что он умеет</h1>
{% endblock%}

{% block content %}
    <div class="first_page">
        <h1>Кто такой {{ title }} и что он умеет</h1>
        <img class="man" src="{% static 'profinfo/img/home_fst.png' %}" alt="home_fst">
        <p>Fullstack-программист - это разработчик, который умеет всё, но понемногу.</p>
        <h3>Подробнее о профессии</h3>
        <p>В вакансиях веб-разработчиков встречается позиция «Фуллстек-разработчик» (он же fullstack). 
            Они неплохо зарабатывают, очень ценятся на рынке труда, но есть нюансы с навыками и трудоустройством. 
            Давайте рассмотрим, что это за работа, какие есть плюсы и минусы.</p>

        <p>Фулстек — это русская версия английского full stack, человек, 
            который может использовать весь стек технологий веб-разработки.<p>
        <p>Стек — это набор языков программирования, фреймворков, стандартов, 
            баз данных и подходов к реализации. Например, стек фронтенд-разработчика может быть таким:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>
            <li>Vue.JS</li>
        </ul>
        <p>А стек бэкенд-разработчика в этом же проекте может выглядеть так:</p>
        <ul>
            <li>PHP</li>
            <li>Laravel</li>
            <li>MySQL или MongoDB</li>
            <li>Ruby</li>
            <li>Python</li>
        </ul>
        <p>Фулстек умеет и то и другое — и поднять базу, и настроить сервер, и красиво заверстать страницу. 
            Получается, что фулстек — это такой универсальный солдат в веб-разработке, 
            который, в теории, может в одиночку сделать сам весь проект.</p>
        <p>Но это в теории. А на практике всё немного иначе.</p>

        <h3>Плюсы и минусы</h3>
        <p>
            <img draggable="false" role="img" class="material-symbols-outlined" alt="✅" src="https://s.w.org/images/core/emoji/14.0.0/svg/2705.svg">
            Главный плюс фулстека — его универсальность. 
            Он может взять практически любую задачу в проекте и разобраться в любой проблеме.</p>
        <p>
            <img draggable="false" role="img" class="material-symbols-outlined" alt="✅" src="https://s.w.org/images/core/emoji/14.0.0/svg/2705.svg">
            Фулстек видит проект целиком и может заранее понять, где какую технологию нужно применить. 
            Например, фулстек видит, что на фронте будет много вычислений на стороне пользователя, 
            что замедлит работу веб-приложения. В этом случае он может сказать, 
            что лучше бы вынести часть вычислений на сервер — это ускорит загрузку страницы и сделает работу приложения более комфортной.</p>
        <p>
            <img draggable="false" role="img" class="material-symbols-outlined" alt="❌" src="https://s.w.org/images/core/emoji/14.0.0/svg/274c.svg">
            Главный минус — он знает все эти технологии на уровне плюс-минус мидла, но не выше. 
            Его знаний и навыков хватает, чтобы решить задачу, но он не сможет это сделать так же круто и легко, 
            как, например, сеньор. Это связано с тем, что у фулстека просто не хватает времени на то, 
            чтобы глубоко изучить какую-то область. Ему нужно разбираться сразу во всём, 
            а если он будет всё время уделять только одной библиотеке или языку, то это будет в ущерб остальному.</p>

        <h3>Какие бывают фулстеки</h3>
        <p>Может показаться, что фулстек может написать что угодно на любом языке программирования, 
            но на самом деле это не так. У фулстеков, как и любых других разработчиков, 
            есть своя специализация, и она чаще всего зависит от бэкенда.</p>
        <p>Например, если программист хорошо знает Python, то, скорее всего, его основной бэкенд-стек будет выглядеть так:</p>
        <ul>
            <li>Django</li>
            <li>Nginx или Apache</li>
            <li>Linux</li>
            <li>REST API</li>
        </ul>
        <p>А если вместо Python разработчик специализируется на C#, то стек может быть таким:</p>
        <ul>
            <li>.NET</li>
            <li>T-SQL</li>
            <li>Microsoft Azure</li>
            <li>ASP.NET</li>
        </ul>
        <p>Получается, что фулстек фулстеку рознь и не получится взять в Java-проект фулстека, 
            который специализируется на Node.js и веб-сокетах.</p>
        <h3>Как стать фулстеком</h3>
        <p>Самый простой способ стать фулстеком — выбрать себе направление, в котором хочется развиваться, 
            а потом в одиночку выпустить полноценный проект. Это может быть что угодно, 
            что требует одновременно и фронтенда, и бэкенда, например, 
            сервис онлайн-заказов или веб-приложение для облачного хранилища текстовых файлов.</p>
    </div>
{% endblock%}     