{% extends 'layout.html' %}

{% block title %}
    <h1 class="lastVac_name">Последние вакансии Fullstack-программиста</h1>
{% endblock%}

{% block content %}
<h1 class="lastVac_name">Последние вакансии Fullstack-программиста</h1>
<h3 class="lastVac_name">(приводятся только открытые вакансии)</h3>
<p><br></p>
<table class="lastVac_table">
    <thead>
        <tr>
            {% for h in lastVacHeader %}
                <th>{{h}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for v in lastTopVacancy %}
            <tr>
                {% for c in v %}
                    <th>{{ c }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}
