{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <h1>ТОП-10 навыков Fullstack-программиста</h1>
{% endblock%}

{% block content %}
<h1 class="skill_name">ТОП-10 навыков Fullstack-программиста</h1>
<h1 class="skill_name"><br></h1>
<h3 class="skill_name">ТОП-10 навыков Fullstack-программиста по интернет-опросам</h3>
<div class="skills_com">
    <table class="skills_table">
    <thead>
        <tr>
            <th>Навык</th>
            <th>Популярность</th>
        </tr>
    </thead>
    <tbody>
    {% for i in skills_web %}
        <tr>
            <th>{{i.skills}}</th>
            <th>{{i.count}}</th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <img src="{% static 'profinfo/img/ManForSkills.png' %}" alt="Fullstack-Man">
</div>
<h1 class="skill_name"><br></h1>
<h3 class="skill_name">ТОП-10 навыков Fullstack-программиста по годам <br> на основе vacancies_with_skills.csv (625M)</h3>
<div class="skills_com">
    <table class="skills_table">
    <thead>
        <tr>
            {% for year in years %}
                <th colspan="2">Год {{year}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for year in years %}
                <th>Навык</th><th>Количество повторений</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in skills_year.items %}
            <tr>
                {% for c in r.1 %}
                    <th>{{ c.0 }}</th><th>{{ c.1 }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock%}
